<ni-card [title]="'Left align timeline'">
  <ni-h-timeline [data]="timelineData"></ni-h-timeline>
</ni-card>

<ni-card [title]="'Right align timeline'">
  <ni-h-timeline [align]="'right'" [data]="timelineData"></ni-h-timeline>
</ni-card>

<ni-card [title]="'Center align timeline'">
  <ni-h-timeline [align]="'center'" [data]="timelineData"></ni-h-timeline>
</ni-card>

<ni-card [title]="'Both sides timeline'">
  <ni-h-timeline [align]="'between'" [data]="timelineData"></ni-h-timeline>
</ni-card>

<ni-card [title]="'Timeline without time'">
  <ni-h-timeline [showDate]="false" [align]="'between'" [data]="timelineData"></ni-h-timeline>
</ni-card>

<ni-card [title]="'Timeline with years'" class="mb-0">
  <ni-h-timeline [showYears]="true" [align]="'between'" [data]="timelineData"></ni-h-timeline>
</ni-card>