<div class="navbar-wrap">
  <div class="navbar-content">
    <md-tab-group>
      <md-tab>
        <ng-template md-tab-label>
          <span class="icon sli-event"></span>
        </ng-template>

        <div class="addition-menu">
          <h4 class="menu-title">Events</h4>

          <ul>
            <li>
              <a href="#">
                <span class="icon sli-emotsmile"></span>
                <div class="content">
                  <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                  <span class="date">2 minutes ago</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon sli-layers"></span>
                <div class="content">
                  <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                  <span class="date">14 minutes ago</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon sli-graduation"></span>
                <div class="content">
                  <span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span>
                  <span class="date">15 minutes ago</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>
          <span class="icon sli-envelope"></span>
        </ng-template>

        <div class="addition-menu">
          <h4 class="menu-title">You have 3 new messages</h4>

          <ul>
            <li>
              <a href="#">
                <img class="avatar" src="assets/content/avatar-1.jpg" width="42" height="42" alt="">

                <div class="content">
                <span class="meta">
                  <strong class="name">Victor Jara</strong>
                  <span class="date">3 Apr</span>
                </span>
                  <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio.</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img class="avatar" src="assets/content/avatar-4.jpg" width="42" height="42" alt="">
                <div class="content">
                <span class="meta">
                  <strong class="name">Nancy Allen</strong>
                  <span class="date">2 Apr</span>
                </span>
                  <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img class="avatar" src="assets/content/avatar-3.jpg" width="42" height="42" alt="">
                <div class="content">
                <span class="meta">
                  <strong class="name">Emma Watson</strong>
                  <span class="date">1 Apr</span>
                </span>
                  <span class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing.</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>
          <span class="icon sli-chart"></span>
        </ng-template>

        <div class="addition-menu">
          <h4 class="menu-title">Frameworks</h4>

          <ul>
            <li class="pb-2 pt-2 pl-4 pr-4">
              <p class="mb-1"><strong>Angular</strong></p>
              <md-progress-bar mode="determinate" color="accent" [value]="98"></md-progress-bar>
            </li>
            <li class="pb-2 pt-2 pl-4 pr-4">
              <p class="mb-1"><strong>React</strong></p>
              <md-progress-bar mode="determinate" color="accent" [value]="85"></md-progress-bar>
            </li>
            <li class="pb-2 pt-2 pl-4 pr-4">
              <p class="mb-1"><strong>Vue.js</strong></p>
              <md-progress-bar mode="determinate" color="accent" [value]="40"></md-progress-bar>
            </li>
            <li class="pb-2 pt-2 pl-4 pr-4">
              <p class="mb-1"><strong>Backbone.js</strong></p>
              <md-progress-bar mode="determinate" color="accent" [value]="38"></md-progress-bar>
            </li>
          </ul>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</div>
